@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
ol, ul, li{
    list-style: none;
}
a{
    text-decoration: none;
}
img, input, button{
    vertical-align: top;
}
button{
    /* 버튼은 항상 글자를 가운데로 두는 성질이 있음 */
    border: 0;
    background-color: transparent;
    cursor: pointer;
    /* 버튼위에 커서가 올라갈때 모양 바뀜 */
}